<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Document</title>
</head>
<body>
    <div class="mymain3">
        <h1 class="edit">Edit Show</h1>
        <div class="link" >
    
    <a href="/shows">Tv Shows</a> <a href="/">Log Out</a>
</div>
    </div>
    <ul class="messages" style="color: red;">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
    <div class='form3' style="margin-left: 20%;">
   <form action="/shows/update/{{show.id}}" method="POST">
        {% csrf_token %}
        <p>Title</p> <input type="text" name="title" value="{{show.title}}">
        <p>Network</p><input type="text" name="network" value="{{show.network}}">
        <p>Release Date</p><input type="date" name="releasedate"  value="{{show.release_date|date:'Y-m-d'}}">
        <p>Description</p>
        <textarea name="description" value="{{show.desc}}"  rows="10" ></textarea>
       <br>
       <button type="submit">Update</button>
       </form>
    </div>
</body>
</html>